src/project/wsdl/dcproj3server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dcproject3.org/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dcproject3.org/wsdl" name="CustomerServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://dcproject3.org/wsdl" schemaLocation="http://localhost:8080/services/dcproj3server?xsd=1"/>
</xsd:schema>
</types>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="getAllDoctors">
<part name="parameters" element="tns:getAllDoctors"/>
</message>
<message name="getAllDoctorsResponse">
<part name="parameters" element="tns:getAllDoctorsResponse"/>
</message>
<message name="getDoctorByID">
<part name="parameters" element="tns:getDoctorByID"/>
</message>
<message name="getDoctorByIDResponse">
<part name="parameters" element="tns:getDoctorByIDResponse"/>
</message>
<message name="makeAppointment">
<part name="parameters" element="tns:makeAppointment"/>
</message>
<message name="makeAppointmentResponse">
<part name="parameters" element="tns:makeAppointmentResponse"/>
</message>
<message name="getMedicalRecord">
<part name="parameters" element="tns:getMedicalRecord"/>
</message>
<message name="getMedicalRecordResponse">
<part name="parameters" element="tns:getMedicalRecordResponse"/>
</message>
<message name="getAllDepartments">
<part name="parameters" element="tns:getAllDepartments"/>
</message>
<message name="getAllDepartmentsResponse">
<part name="parameters" element="tns:getAllDepartmentsResponse"/>
</message>
<message name="getDoctorsByDepartment">
<part name="parameters" element="tns:getDoctorsByDepartment"/>
</message>
<message name="getDoctorsByDepartmentResponse">
<part name="parameters" element="tns:getDoctorsByDepartmentResponse"/>
</message>
<portType name="CustomerServiceWS">
<operation name="checkLogin">
<input wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="getAllDoctors">
<input wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getAllDoctorsRequest" message="tns:getAllDoctors"/>
<output wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getAllDoctorsResponse" message="tns:getAllDoctorsResponse"/>
</operation>
<operation name="getDoctorByID">
<input wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getDoctorByIDRequest" message="tns:getDoctorByID"/>
<output wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getDoctorByIDResponse" message="tns:getDoctorByIDResponse"/>
</operation>
<operation name="makeAppointment">
<input wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/makeAppointmentRequest" message="tns:makeAppointment"/>
<output wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/makeAppointmentResponse" message="tns:makeAppointmentResponse"/>
</operation>
<operation name="getMedicalRecord">
<input wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getMedicalRecordRequest" message="tns:getMedicalRecord"/>
<output wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getMedicalRecordResponse" message="tns:getMedicalRecordResponse"/>
</operation>
<operation name="getAllDepartments">
<input wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getAllDepartmentsRequest" message="tns:getAllDepartments"/>
<output wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getAllDepartmentsResponse" message="tns:getAllDepartmentsResponse"/>
</operation>
<operation name="getDoctorsByDepartment">
<input wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getDoctorsByDepartmentRequest" message="tns:getDoctorsByDepartment"/>
<output wsam:Action="http://dcproject3.org/wsdl/CustomerServiceWS/getDoctorsByDepartmentResponse" message="tns:getDoctorsByDepartmentResponse"/>
</operation>
</portType>
<binding name="CustomerServicePortBinding" type="tns:CustomerServiceWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDoctors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDoctorByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMedicalRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDepartments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDoctorsByDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerServiceService">
<port name="CustomerServicePort" binding="tns:CustomerServicePortBinding">
<soap:address location="http://localhost:8080/services/dcproj3server"/>
</port>
</service>
</definitions>